@import url('./global.css');
@import url('./normalize.css');
@import url('../font/font.css');
@import url('./element.css');
@import 'https://at.alicdn.com/t/c/font_4179759_dludrprbr8w.css';

body {
  font-family: 'Harmony Font';
  font-size: 14px;
  background-color: #fafafa;
  min-width: 1090px;
  line-height: 1.25;
}