@import url('./global.css');
@import url('./normalize.css');
@import url('../font/font.css');
@import 'https://at.alicdn.com/t/c/font_4179759_q4jukx0igk.css';

html {
  /* overflow-x: hidden; */
}

body {
  font-family: 'Harmony Font';
  font-size: 14px;
  background-color: var(--graph_bg_regular);
  min-width: 1060px;
  line-height: 1.15;
}